<div class="row">
  <div class="small-11 small-centered columns">
    <p id="notice"><%= notice %></p>
    <form id="update_position" action="pictures/update">
      <input type="submit">
      <div id="sortable">
        <% @pictures.each do |picture| %>
            <div class="imblock">
              <%= image_tag UrlImageTumb(picture.image.url), class: "th" %>
              <div class="dimg"><%= link_to 'Show', picture %></div>
              <div class="dimg"><%= link_to 'Edit', edit_picture_path(picture) %></div>
            </div>
        <% end %>
      </div>
    </form>
  </div>




<div class="row">
  <div class="small-6 small-centered columns">
    <p id="notice"><%= notice %></p>

    <h1>Listing Pictures</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @pictures.each do |picture| %>
          <tr>
            <td><%= picture.name %></td>
            <td><%= picture.description %></td>
            <td><%= link_to 'Show', picture %></td>
            <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
            <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Picture', new_picture_path %>
  </div>
</div>
