<div class="row">
  <div class="small-11 small-centered columns">
    <p id="notice"><%= notice %></p>
    <%= form_for :pictures, :url => uppos_pictures_path do |f| %>
        <%= f.submit %>

        <div id="sortable">
          <% @pictures.each do |picture| %>
              <div class="imblock">
                <%= hidden_field_tag picture.id, :id %>
                <%= image_tag UrlImageTumb(picture.image.url), class: "th" %>
                <%=  picture.position %>
                <%=  picture.id %>
                <!--<div class="dimg">< link_to 'Show', picture %></div>-->
                <!--<div class="dimg">< link_to 'Edit', edit_picture_path(picture) %></div>-->
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

<style>
  .imblock {
      width: 200px;
      height: 320px;
      margin: 15px;
      /*border: 1px solid grey;*/
      align-items: center;
      float: left;
  }

  .dimg {
      width: 200px;
      height: 30px;
      float: left;
  }
    #sortable div {
        float: left;
        margin: 10px;
    }
</style>

<script>
    $(function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
    });
</script>